@using BLL.Models.ViewModels;

@model UserViewModel;

@{
    ViewBag.Title = "Ohhhhhlalala le bo titre...";
}


<a asp-controller="User" asp-action="Index">Retour</a>

<h1>User @Model.Email</h1>
<h3>Il s'appelle @Model.Name</h3>
<h3>c'est l'id @Model.Id</h3>
<h3>Derniere connection : @Model.LastConnection.ToString()</h3>



