@using BLL.Models.Forms;

@model UpdateUserForm;

<form asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <label>Email</label>
    <input type="text" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />
    <label>Nom</label>
    <input asp-for="Name" />

    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>Password</label>
    <input type="password" asp-for="Password" />

    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    <button type="submit">Modifier</button>
</form>
