<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Engage your child in coding Website Template</title>
</head>
<body>
    <header></header>
    <main>
        <section>
            <div class="line-top">
                <div class="column-top-left">
                    <div class="title">
                        <h2>Training is everything</h2>
                        <p>The paradox of education is precisely this - that as one begins to become conscious one begins to examine the society in which he is being educated.</p>
                    </div>
                </div>
                <div class="column-top-right">
                    <div class="line">
                        <div class="school-backpack"></div>
                        <div class="student-book-head"></div>
                    </div>
                    <div class="line">
                        <div class="message">
                            <h2>Education is the key to success</h2>
                        </div>
                        <div class="school-equipment"></div>
                    </div>
                </div>
            </div>
            <div class="line-bottom">
                <div class="column-bottom-left">
                    <div class="student-book-hand"></div>
                </div>
                <div class="column-bottom-right">
                    <div class="box-orange"></div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>