<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home</title>
    </head>
<body>
    <h1>Hola Marcus</h1>
    <% datas.forEach(pignouf => { %>
        <p><%= pignouf.first_name %></p>
    <% }) %>
</body>
</html>
